img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

h4 {
    padding-bottom: 10px;
}

.mdl-layout__header {
    transition-duration: 1s;
}

.mdl-layout__header.is-compact {
    min-height: auto;
    max-height: 48px;
}

.mdl-layout__header-row {
    padding-left: 0px;
    padding-right: 0px;
}

.mdl-layout__header-row:first-of-type {
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mdl-layout__header-row .header-info {
    display: flex; 
    flex-direction: column;
    padding-left: 30px;
}
.mdl-layout__header-row .header-info h1 {
    margin-bottom: 0px;
}
.mdl-layout__header-row .header-info div {
    padding-left: 30px;
    font-size: smaller;
}

.mdl-layout__tab-panel {
    padding-top: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.mdl-layout__content section {
    position: relative;
    margin-bottom: 48px;
    max-width: 860px;
}

.mdl-card__supporting-text--right {
    align-self: flex-end;
}

.mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    text-align: right;
}

.section__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 8px 0;
}
.section__title {
    padding-top: 20px;
}
.section__text {
    flex-grow: 1;
    flex-shrink: 0;
    padding-top: 8px;
}

.section__text:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.13);
}

.section__text h5 {
    font-size: inherit;
    margin: 0;
    margin-bottom: 0.5em;
}
.section__text a {
    text-decoration: none;
}

.resume-sheet {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 48px;
}

.resume-sheet .resume-header {
    display:flex; 
    flex-wrap: wrap;
    border-bottom: 4px double gray;
}
.resume-sheet .resume-header h1 {
    flex-grow: 1;
    margin-left: 20px;
}

.resume-sheet .resume-info {
    display:flex; 
    flex-direction: column; 
    font-size:smaller;
    margin-right: 10px;
}

.resume-sheet .resume-section {
    margin-left: 20px;
    margin-right: 10px;
}

.resume-sheet .resume-section h3 {
    margin-bottom: 10px;
}

.resume-sheet .job-title {
    display:flex;
}

.resume-sheet .job-title h6 {
    margin-top: 16px;
}

.resume-sheet .job-title :first-child {
    flex-grow: 1;
}

.resume-sheet .resume-footer {
    text-align: right;
}