<div class="mdl-mini-footer__left-section">
    <h6>Contact Information</h6>
    <div>brian.joseph.walters@gmail.com</div>
    <div>https://www.linkedin.com/in/brian-joseph-walters</div>
    <div>https://www.github.com/brianjosephwalters</div>
</div>
<div class="mdl-mini-footer__right-section">
    <h6>Site Information</h6>
    <div>A static web page, hand-coded by Me</div>
    <div>Styled with <a href="https://getmdl.io/">Material Design Lite</a></div>
    <div>Served by <a href="https://pages.github.com/">Github Pages</a></div>
    <div>Last Updated on July 4th, 2020</div>
</div>
