<div class="mdl-layout__header-row">
    <img src="images/hardhat-square.jpg" class="rounded">
    <div class="header-info">
        <h1>Brian J. Walters</h1>
            <i>For me, software development is an exercise in managing complexity. I am a problem solver employed as a Lead Software Engineer.</i>
    </div>
</div>
<div class="mdl-layout__tab-bar mdl-color--primary-dark mdl-js-ripple-effect">
    <a href="#about" class="mdl-layout__tab is-active">About</a>
    <a href="#education" class="mdl-layout__tab">Education</a>
    <a href="#career" class="mdl-layout__tab">Career</a>
    <a href="#technologies" class="mdl-layout__tab">Technologies</a>
    <a href="#resume" class="mdl-layout__tab">Resume</a>
</div>