<div class="mdl-layout__tab-panel is-active" id="about">
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="mdl-cell mdl-cell--3-col mdl-color--teal-100 mdl-color-text--white">
        </header>
        <div class="mdl-card mdl-cell mdl-cell--9-col">
            <div class="mdl-card__supporting-text">
                <h4>New Orleans</h4>
                I have lived and worked in the City of New Orleans since 2003, when I moved here for graduate school at Tulane University.  Whether it's surviving hurricanes or wandering the streets with a go-cup, I am in love with the vibrant culture and strong sense of community found in every unique neighborhood.
            </div>
            <div class="mdl-card__actions"><a class="mdl-button" href="http://www.nola.com/">The Advocate</a></div>
        </div>
    </section>
    <section id="reading" class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col section__title">What I'm Reading</h4>
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="section__circle mdl-color--primary"></div>
                </div>                      
                <div class="section__text mdl-cell mdl-cell--10-col">
                    <h5>Team of Rivals: The Political Genius of Abraham Lincoln</h5>
                    <h6>By Doris Kearns Goodwin</h6>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="section__circle mdl-color--primary"></div>
                </div> 
                <div class="section__text mdl-cell mdl-cell--10-col">
                    <h5>The Grapes of Wrath</h5>
                    <h6>By John Steinbeck</h6>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="section__circle mdl-color--primary"></div>
                </div> 
                <div class="section__text mdl-cell mdl-cell--10-col">
                    <h5>The Hobbit: There and Back Again</h5>
                    <h6>By J. R. R. Tolkien</h6>
                </div>
            </div>
            <div class="mdl-card__actions"><a class="mdl-button" href="">My Library</a></div>
        </div>
    </section>
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="mdl-cell mdl-cell--3-col mdl-color--teal-100 mdl-color-text--white">
        </header>
        <div class="mdl-card mdl-cell mdl-cell--9-col">
            <div class="mdl-card__supporting-text">
                <h4>Philosophy</h4>
                I am primarily interested Modern Philosophy (Descartes - Kant) and the Ancient Greek Philosophers Plato and Aristotle. My master's thesis was on Kant's Transcendental Arguments and my dissertation research focused on the first Critique's use of the Modal Categories (Possibility, Actuality, and Necessity).  My favorite Modern Philosophers include Kant, Hume, Locke, Leibniz, and Descartes.  I have also spent significant time working Aristotle's <i>De Anima</i> and Plato's <i>Meno</i>.
            </div>
            <div class="mdl-card__actions">
                <a class="mdl-button" href="https://plato.stanford.edu/">Stanford Encyclopedia of Philosophy</a>
            </div>
        </div>
    </section>
</div>