<div class="mdl-layout__tab-panel" id="education">
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="mdl-cell mdl-cell--1-col mdl-color--teal-100 mdl-color-text--white"></header>
        <div class="mdl-card mdl-cell mdl-cell--11-col">
            <div class="mdl-card__supporting-text">
                <h3>The University of New Orleans</h3>
                <h5>M.S., Computers Science, May 2015</h5>
                I returned to school in 2012 to pursue a Master's degree in Computer Science.  I spent a year taking catch-up courses where I filled the gaps in my education and earned a teaching assistantship for the following two years.  The Computer Science Department at UNO gave me the opportunity to pursue my interests in application development, as well as foster an interest in machine learning.
            </div>
            <div class="courses">
                <div class="mdl-list">
                    <div class="mdl-list__item course-section">Theory</div>
                    <div class="mdl-list__item course-item">Computational Geometry</div>
                    <div class="mdl-list__item course-item">Theory of Computation</div>
                    <div class="mdl-list__item course-item">Programming Language Structure</div>
                </div>
                <div class="mdl-list">
                    <div class="mdl-list__item course-section">Application Development</div>
                    <div class="mdl-list__item course-item">Data Models and Database Systems</div>
                    <div class="mdl-list__item course-item">Distributed Software</div>
                    <div class="mdl-list__item course-item">Big Data Analytics and Systems</div>
                </div>
                <div class="mdl-list">
                    <div class="mdl-list__item course-section">Machine Learning</div>
                    <div class="mdl-list__item course-item">Introduction to Artificial Intelligence</div>
                    <div class="mdl-list__item course-item">Bio-Informatics II</div>
                    <div class="mdl-list__item course-item">Data Visualization</div>
                    <div class="mdl-list__item course-item">Pattern Recognition</div>    
                </div>    
            </div>
            <div class="mdl-card__actions"><a class="mdl-button" href="https://www.uno.edu/academics/cos/computer-science">University of New Orleans</a></div>
        </div>
    </section>
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--11-col">
            <div class="mdl-card__supporting-text mdl-card__supporting-text--right">
                <h3>Tulane University</h3>
                <h5>M.A., Philosophy, May 2010</h5>
                I pursued a PhD in Philosophy at Tulane University from 2003 - 2012.  I loved my time engaging with the intellectually curious, digging deeply into problems, and learning to communicate abstract concepts effectively.  While I did not complete my dissertation work, I walked away with a Master's degree and many years of teaching experience.  Perhaps most importantly, I gained a profound respect for those academics who are able to juggle coursework, teaching, and research - all while navigating a highly-competitive job market!
                <ul>
                    <li>
                        I earned a fellowship to study at Freie Universität in Berlin for the 2008-2009 school year.  During my time in Berlin, I took German Language courses, engaged with the other graduate students at the ISB, and pursued my research on Immanuel Kant.
                    </li>
                    <li>
                        In 2009, I was a graduate fellow at the Murphy Institute's Center for Ethics and Public Affairs.  The year provided me the opportunity to complete another chapter of my dissertation.  I was also able to invite one of my favorite Kant scholars, Robert Hanna, to be a guest lecturer. 
                    </li>
                </ul>
            </div>
            <div class="courses">
                <div class="mdl-list">
                    <div class="mdl-list__item course-section">History of Philosophy</div>
                    <div class="mdl-list__item course-item">Aristotle's Nicomachean Ethics</div>
                    <div class="mdl-list__item course-item">Aristotle's De Anima</div>
                    <div class="mdl-list__item course-item">Plato's Statesman</div>
                    <div class="mdl-list__item course-item">Kant's Critique of Pure Reason</div>
                    <div class="mdl-list__item course-item">Kant's Critique of Practice Reason</div>
                    <div class="mdl-list__item course-item">Empiricism</div>
                    <div class="mdl-list__item course-item">Heidegger's Being and Time</div>
                    <div class="mdl-list__item course-item">Contemporary Political Philosophy</div>
                </div>
                <div class="mdl-list">
                    <div class="mdl-list__item course-section">Logic & Science</div>
                    <div class="mdl-list__item course-item">Interpreting Minds</div>
                    <div class="mdl-list__item course-item">Advanced Symbolic Logic</div>
                    <div class="mdl-list__item course-item">Metaphysics</div>
                    <div class="mdl-list__item course-item">Skepticism</div>
                    <div class="mdl-list__item course-item">Contemporary Issues in Logic</div>
                    <div class="mdl-list__item course-item">Philosophical Logic</div>
                    <div class="mdl-list__item course-item">Mathematical Logic</div>
                </div>
            </div>
            <div class="mdl-card__actions"><a class="mdl-button" href="https://liberalarts.tulane.edu/departments/philosophy">Tulane University</a></div>
        </div>
        <header class="mdl-cell mdl-cell--1-col mdl-color--teal-100 mdl-color-text--white"></header>
    </section>
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="mdl-cell mdl-cell--1-col mdl-color--teal-100 mdl-color-text--white"></header>
        <div class="mdl-card mdl-cell mdl-cell--11-col">
            <div class="mdl-card__supporting-text">
                <h3>Towson University</h3>
                <h5>B.A., Psychology, Anthropology, Philosophy, May 2002</h5>
                Although I began as a Computer Science major, I was quickly pulled into the new world of liberal arts.  In four years, I earned majors in Psychology, Anthropology, and Philosophy.  Along the way, I graduated from the Honors College, organized events as Vice President of the Philosophy Forum, and was a member of Psi Chi National Honors Association in Psychology.
                Some accomplishments include:
                <ul>
                    <li>
                        Recipient of the Ian Moore Memorial Scholarship in Philosophy, 2001
                    </li>
                    <li>
                        Study-abroad course in Italian History and Archaeology, 2001
                    </li>
                    <li>
                        Recipient of the Lieberman Award for Outstanding Student in Anthropology, 2002.
                    </li>
                    <li>
                        Presented "The Distinction between Analytic and Synthetic A Priori Judgments: Mathematics as Synthetic A Priori Judgment" at Towson University's Undergraduate Conference in Philosophy, May 2002
                    </li>
                </ul>
            </div>
            <div class="mdl-card__actions">
                <a class="mdl-button" href="https://www.towson.edu/cla/departments/philosophy/">Towson University</a>
            </div>
        </div>
    </section>
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--11-col">
            <div class="mdl-card__supporting-text mdl-card__supporting-text--right">
                <h3>Chautauqua / Chautauqua Lake High School</h3>
                <h5>Graduated June 1998</h5>
                I attended a small public school in Western New York with a class size of about 30 students until we merged with another school my Junior Year.   Our classes were so small, one year I even had to play basketball in order for the team to have enough players!  My primary extracurricular activity was the student yearbook.  With two or three others, I worked on every aspect of the publishing process - selling adds, cross-checking class lists with headshots, capturing candid pictures, documenting major accomplishments, delivering layouts to the publisher, and finally presenting the final product to my classmates.                                </div>
            <div class="mdl-card__actions"><a class="mdl-button" href="">Mayville, NY</a></div>
        </div>
        <header class="mdl-cell mdl-cell--1-col mdl-color--teal-100 mdl-color-text--white"></header>
    </section>
</div>