<div class="mdl-layout__tab-panel" id="career">
    <section>
    Software Engineer
    </section>
    <section>
    Adjunct Instructor
    </section>
    <section>
        Graduate School
    </section>
    <div class="career-card-deck">
        <section class="mdl-card mdl-shadow--4dp career-card-brief">
            <img class="career-image" src="images/royalfarms - square.jpg" />
            <div class="career-title">Royal Farms</div>
            <div class="mdl-card__supporting-text career-short">Worked Graveyard-shift, supplying Baltimore's night-owls with snacks, caffeine, and good conversation.</div>
            <div class="mdl-card__actions career-footer">More</div>
        </section>
        <section class="mdl-card mdl-shadow--4dp career-card-brief">
            <img class="mdl-card__media career-image" src="images/sharper image betty white - square.jpg" />
            <div class="career-title">The Sharper Image</div>
            <div class="mdl-card__supporting-text career-short">Served audiophiles and gadget lovers as an assistant manager in a high-paced sales environment.</div>
            <div class="mdl-card__actions career-footer">More</div>
        </section>
        <section class="mdl-card mdl-shadow--4dp career-card-brief">
            <img class="career-image" src="images/towson university.jpg" />
            <div class="career-title">Technology Training Center</div>
            <div class="mdl-card__supporting-text career-short">Created and taught labs covering various software suites used by university faculty and administration.</div>
            <div class="mdl-card__actions career-footer">More</div>
        </section>
        <section class="mdl-card mdl-shadow--4dp career-card-brief">
            <img class="career-image" src="images/bookstore - square.jpg" />
            <div class="career-title">The Chautauqua Bookstore</div>
            <div class="mdl-card__supporting-text career-short">Shift manager at the center of life for the Chautauqua Institution.  </div>
            <div class="mdl-card__actions career-footer">More</div>
        </section>
        <section class="mdl-card mdl-shadow--4dp career-card-brief">
            <img class="career-image" src="images/daily - square.jpg" />
            <div class="career-title">The Chautauquan Daily</div>
            <div class="mdl-card__supporting-text career-short" style="text-align: center;">"Use a quarter and a dime, get your Daily any time!"</br>&#9835&#9835</div>
            <div class="mdl-card__actions career-footer">More</div>
        </section>
    </div>
</div>